# mod_rewrite 
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]



# RewriteRule ^index index.html [NC]
# RewriteRule ^contact.html$ contact

# <IfModule mod_rewrite.c> 
#    RewriteEngine On 
#    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*).html\ HTTP/ 
#    RewriteRule .* http://localhost/html/%1 [R=301,L] 
 
#    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*)\ HTTP/ 
#    RewriteRule .* %1.html [L] 
# </IfModule> 