@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Oswald:wght@200;300&display=swap');
body,
html {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
a,
input {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}


.ui.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.ui.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: none;
    transition: none;
    will-change: transform;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%!important;
    max-height: 100%;
    border-radius: 0!important;
    margin: 0!important;
    overflow-y: auto!important;
    z-index: 102;
}
.ui.menu {
    font-size: 1rem;
}
.ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: 0.28571429rem;
    min-height: 2.85714286em;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}