@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Oswald:wght@200;300&display=swap');
body,
html {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin: 0 !important;
  scroll-behavior: smooth;
}
label {
  display: none !important;
}
h1,
h2,
h3,
h4,
a,
input {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

p {
  font-weight: 300;
}
button,
a {
  cursor: pointer;
}
textarea.input {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300 !important;
  font-size: 1.3em;
}
ul {
  list-style: none;
  margin: 0 20px 0 20px;
  padding-inline-start: 0px;
}

/* ***************** ALL | Navigation Mobile |  *****************   Luke */

.ui.sidebar.inverted.right.vertical.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
}

.ui.inverted.menu .active.item {
  color: #21ba45 !important;
  background-color: rgba(0, 0, 0, 0);
}

.phone-menu {
  color: #fff;
  background-color: #21ba45;
  padding: 10px 14px;
  font-size: 0.9em;
  border: none;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.iphone {
  padding-left: 5px;
}

.phone-btn {
  font-size: 200px;
}

.nav-call-btn {
  margin-left: 20px;
  font-size: 1.2em;
}
.nav-call-btn:active {
  margin-left: 33px !important;
}

.ui.inverted.menu .item {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

button {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}

.phone-menu:active {
  color: #fff;
  background-color: #21ba45;
  margin: 3px;
  font-size: 1em;
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
}

/* ***************** ALL | Navigation Mobile | END *****************   Luke */

/* ***************** ALL | Navigation Main | *****************   Luke */

.top-nav {
  position: absolute;
  display: flex;
  /* padding: 0 40px; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px !important;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.logo {
  width: 130px;
}
.logo-link {
  padding: 5px 0 5px 20px !important;
  margin-left: 20px;
}

.logo-menu {
  width: 140px;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.top-nav a.menu-item {
  font-size: 1.5em;
  font-weight: 300;
}

.menu-item-call {
  font-size: 1.1em !important;
  font-weight: 300;
  padding: 0 !important;
  margin: 0 0 0 10px;
  float: none !important;
}

.active {
  font-size: 1.4em;
  border-bottom: 1px solid #21ba45;
  border-radius: 0px !important;
}

.top-nav .mobile-menu-btn {
  display: none;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.menu-top {
  margin-right: 40px;
}
.top-nav .menu-top .menu-item:hover {
  background-color: #21ba45a9;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #21ba45;
  color: white;
}

.main-btn {
  background-color: #21ba45;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  z-index: 13;
}
.main-btn:active {
  background-color: #21ba45;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 18px;
  margin: 1px 2px 1px 0;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.6);
}
/* Katherine */
.main-btn:hover {
  background-color: #25dc50;
}
/* ***************** ALL | Navigation Main | END *****************   Luke */

/* ***************** HOME | Banner | *****************   Luke */

#banner-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
  background-image: url('./media/swift-banner.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

.banner-overlay {
  width: 100%;
  min-width: 322px;
  height: 100vh;
  min-height: 500px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0);
}

.card1 {
  color: #fff;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  z-index: 2;
  animation: fadeIn 1.5s;
}

.card-heading1 {
  border-bottom: #94949480 1px solid;
  width: fit-content;
  font-size: 4em;
}

.card-content1 {
  font-size: 1.6em;
}

.banner-btn {
  float: right;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.banner-btn:hover {
  float: right;
  background-color: #21ba45ab;
}

/* ***************** HOME | Banner | END *****************   Luke */

#modal {
  z-index: 1;
  opacity: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.modal-overlay {
  background-color: rgb(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  width: 100%;
}
.modal-box {
  z-index: 20;
  transform: translateX(-100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  line-height: 1.5em;
  font-size: 2em;
  padding: 40px;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.7);
  transition: all 0.5s ease-in-out;
}
#modal-icon {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 0 0;
}
#modal-icon:hover {
  color: #21ba45;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 0 0;
}

.modal-box p {
  font-size: 0.7em;
  padding: 10px 40px;
}
.modal-btn {
  font-size: 0.7em !important;
}

.modal-txt {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-box h2 {
  width: fit-content;
  font-size: 1.4em;
  color: #21ba45;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.info-content {
  z-index: 14 !important;
}

/* ***************** HOME | Recycle Banner | ***************   Luke */

#recycle-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21ba45;
  padding: 20px 0 0 0;
}

#recycle-banner h3 {
  font-size: 1.9rem;
  color: #fff;
}

/* ***************** HOME | Recycle Banner | END ***************   Luke */

/* ***************** HOME | Work Section  ***************  Luke */

.info-wrap {
  width: 100%;
}

.section-heading-wrap {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0 0 0; */
}

.info-section {
  display: flex;
  align-items: center;
  padding: 0 0;
}

.info-right {
  background-color: #fafafa;
}

.section-heading {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 2.3rem;
  border-bottom: 1px solid #eee;
}

.long-wrap {
  width: 100%;
  color: #fff;
  background-color: #21ba45;
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 10px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.6);
  z-index: 150;
}

.long {
  width: 100%;
  color: #fff;
  background-color: #21ba45;
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 10px;
  z-index: 10;
}

.info-content {
  padding: 40px 40px;
  font-size: 1.6em;
}

.info-content-right {
  text-align: left;
}

.info-content-left {
  text-align: right;
}

.info-heading {
  font-size: 1.5em;
  color: #21ba45;
  font-weight: 300;
}

.info-image-left {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 40px;
  max-height: 300px;
  width: 300px;
}
.info-image-right {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 40px;
  max-height: 300px;
  min-height: 250px;
  width: 300px;
}

.info-button {
  font-size: 1.2rem;
  background-color: #21ba45ab;
}

.info-button:hover {
  background-color: #21ba45ab;
}
.info-img {
  width: 50vw;
  /* height: 50vh; */
  object-position: center;
  object-fit: cover;
}
/* ***************** HOME | Work Section | END ***************  Luke */

/* ***************** HOME | Quote Section  ***************  Luke */

#quote-wrap {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./media/quote-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  z-index: 10;
}

.quote-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 322px;
  /* z-index: 2; */
  width: 100%;
  height: 300px;

  box-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.quote-heading {
  position: relative;
  color: #fff;
  /* z-index: 5; */
  font-size: 3em;
  font-weight: 400;
  z-index: 2;
}
#free-txt {
  color: #21ba45;
}

.quote-btn {
  position: relative;
  color: #fff;
  background-color: #1f2f44;
  padding: 10px 40px;
  border-radius: 50px;
  border: #21ba45 2px solid;
  transition: all 0.2s ease-in-out;
}
.quote-btn:active {
  position: relative;
  color: #fff;
  background-color: #0b591dd8;
  font-size: 0.9em;
  padding: 10px 40px;
  border-radius: 50px;
  border: #fff 2px solid;
}

/* ***************** HOME | Quote Section | END ***************  Luke */

/* ***************** HOME | Services Section | END ***************  Luke */

.services-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 45px;
  background-color: #fafafa !important;
}


.services-content-1,
.services-content-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.3em;
  color: #000;
  padding: 0;
  z-index: 10;
  background-color: #f2f2f2;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.7);
  width: 90%;
  border-radius: 10px;
  max-width: 700px;
  flex-direction: column;
  margin: 50px 0  30px 0 !important;
  /* cursor: pointer; */

}
.services-wrap {
  position: relative;
  overflow: hidden;
  margin: 0 !important;
  /* padding: 0; */
}

.circle.one {
  width: 180px;
  height: 180px;
  top: 250px;
  right: -75px;
  border-radius: 50%;
  position: absolute;
  border: .6em solid #21ba45;
}

.circle.four {
  width: 180px;
  height: 180px;
  top: -77px;
  left: -75px;
  border: 1em solid #1f2f44;
  z-index: 1;
  border-radius: 50%;
  position: absolute;
}
.circle.five {
  width: 210px;
  height: 210px;
  top: 229px;
  right: -95px;
  border: 1em solid #1f2f44;
  border-radius: 50%;
  position: absolute;
}
.circle.two {
  width: 330px;
  height: 330px;
  top: -229px;
  right: 95px;
  border: 1em solid #21ba45;
  border-radius: 50%;
  position: absolute;
}
.circle.seven {
  width: 300px;
  height: 300px;
  top: 20px;
 left: -195px;
 border: .9em solid #21ba45;
  z-index: 1;
  border-radius: 50%;
  position: absolute;
}
.test-overlay-full {
  width: 100%;
  position:fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.ser-home-p {
  width: 60%;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
}
.ser-home-info {
  color: #21ba45;
  text-align: center;
  padding: 20px 0 0 0 ;
  font-size: 1.2em;
  width: 80%;
}
.s-btn {
  font-size: .72em;
  margin:10px 0 30px 0;
}
.ser-left {
  text-align: left !important;
}
.ser-right {
  text-align: right !important;
}
.services-content ul {
  text-align: center;
  /* cursor: pointer; */
}
.services-content a {
  z-index: 10;
  /* cursor: pointer; */
}
.services-item {
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.42em;
}
.services-item:hover {
  
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.42em;
  color: #21ba45;
}
.main-btn-serv {
  z-index: 12 !important;
  font-size: 1.7em;
}
/* ***************** HOME | Services Section | END ***************  Luke */

/* ***************** HOME | Testimonial Section ***************  Luke */

.slider-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 300px;
  background-image: url('./media/swift-banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-wrapper-mobile {
  display: none;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 300px;
  background-image: url('./media/swift-banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 1;
}

.slides-container {
  height: calc(500px - 2rem);
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 100px;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 2;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
  z-index: 3;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
  z-index: 3;
}

.slide {
  width: 90%;
  height: 300px;
  flex: 1 0 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.testimonial-txt {
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
}

.testimonial-heading {
  font-size: 2rem;
}

.testimonial-btn {
  background-color: #1f2f44;
  color: #fff;
  border-radius: 50px;
  font-size: 2em;
  border: 1px solid #21ba45;
  /* color: #21ba45 !important; */
  padding: 10px 30px;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.testimonial-btn:active {
  background-color: #21ba4564;
  color: #fff;

  border-radius: 50px;
  font-size: 1.8rem;
  border: 1px solid #fff;
  padding: 10px 30px;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.6);
}
/* ***************** HOME | Testimonial Section | END ***************  Luke */

/* ***************** CONTACT | Form *****************   Luke */

.banner-header {
  font-size: 40px;
  color: white;
  z-index: 2;
}
.contact-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 350px;
  position: absolute;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  font-size: 1em;
  width: 125px;
  font-weight: 400;
  background-color: #21ba45;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 2px;
  font-family: 'Lato', sans-serif !important;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -65px;
}

.popup .foot-pop {
  visibility: hidden;
  font-size: 0.7em !important;
  width: 125px;
  font-weight: 400;
  background-color: #21ba45;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px ;
  font-family: 'Lato', sans-serif !important;
  letter-spacing: .01em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -65px;
}

.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  /* transform: rotate(-90deg); */
  margin-right: 0px;
  border-width: 7px;
  border-style: solid;
  border-color: #21ba45 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fade 0.2s ease-in-out;
  animation: fade 0.2s ease-in-out;
}

.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-image: url('./media/swift-banner.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-head {
  margin-top: 2em;
}

.contact-container-overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.form {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #1f2f44;
  position: relative;
}

.contact-form:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1f2f44;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.contact-icon-rotate {
  transform: rotate(135deg);
}

.contact-icons {
  text-decoration: none;
  color: #21ba45;
}

form {
  position: relative;
  padding: 2.2rem;
  z-index: 10;
  overflow: hidden;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}
.succes-msg-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
}
.succes-msg-content-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  
  color: #21ba45;
  padding: 50px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 50px rgb(0, 255, 89); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}
.succes-msg-content-wrap .show {
  display: flex;
  transform: scale(1.2)
}

.succes-msg-content-wrap h2 {
  font-size: .5em;
  transition: all .2s ease-in-out;

}

.succes-msg-content-wrap .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* color: #21ba45; */
  font-size: 3em;

}
.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  border-radius: 20px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 20px;
  resize: none;
  overflow-y: auto;
  width: 100%
}



textarea.input {
  font-weight: 100;
}

.form-btn {
  padding: 0.6rem 1.3rem;
  background-color: #21ba45;
  border: 2px solid #21ba45;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.form-btn:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input:active {
  color: #1f2f44;
}

.contact-info .title {
  color: #1f2f44;
}

.contact-text {
  color: #5d5d5d;
  margin: 1.5rem 0 2rem 0;
  font-size: 1.3em;
  font-weight: 200;
}

.info {
  /* width: 50vw !important; */
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px !important;
}

p:last-child {
  margin-bottom: 0px !important;
}

.info div {
  padding: 0 !important;
}

.google-map {
  width: 100%;
  max-width: 650px;
  height: 250px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.information-contact {
  display: flex;
  color: #5f5f5f;
  margin: 0.7rem 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
}
.map-icon {
  height: 1.42em !important;
}

.form-btn {
  float: right;
}

.contact-icons-wrap {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons-wrap p {
  color: #5d5d5d;
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: 300;
}

.contact-icons {
  display: flex;
  margin-top: 0.5rem;
}

.contact-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1f2f44, #40618b);
  color: #fff;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  margin-right: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-icons a:hover {
  transform: scale(1.05);
  color: #21ba45;
}

/* ***************** CONTACT END *****************   Luke */

/* ***************** FOOTER *****************   Luke */

#footer-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* height: 300px; */
  justify-content: center;
  color: #fff;
  background-color: #1f2f44;
  z-index: 11;
}

.footer-heading {
  font-size: 1.7em;
  border-bottom: #21ba45 1px solid;
  font-weight: 400;
}

.footer-content {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  flex-direction: column;
}

.footer-content a {
  color: #fff;
  font-size: 1.4rem;
  padding: 10px;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-decoration: none !important;
}

.footer-content a:hover {
  color: #21ba45;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.05em;
}

.footer-content-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21ba45;
  color: #fff;
  padding: 10px;
  font-weight: 400;
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
}

.foot-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-icon {
  color: #21ba45;
}
.contact-footer {
  display: flex !important;
  align-items: flex-start !important;
  text-align: left !important;
}
.contact-footer a {
  padding-left: 30px !important;
}
/* ***************** FOOTER END *****************   Luke */

/* ***************** ABOUT ***************** Katherine */
.aboutlinks {
  color: #21ba45;
  text-decoration: none;
  font-family: 'Lato', san-serif;
}
.aboutlinks:hover {
  color: #23993e;
  text-decoration: none;
}
.about-wrap {
  width: 100%;
  height: 100%;
}
.about-banner {
  background-image: url('./media/Tool-Belt.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.about-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 500px;
  position: absolute;
}
.about-banner-header {
  font-size: 60px;
  height: 50%;
  color: white;
  z-index: 2;
  border-bottom: #94949480 1px solid;
}

.work-history {
  background-image: url(./media/work-landscaping.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  /* min-height:; */

  width: 96%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 2%;
  clip-path: polygon(100% 0, 100% 83%, 91% 100%, 0 100%, 0 0);
}

.text-block {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2em;
  margin: 0 0 0 4em;
  width: 40%;
  height: fit-content;
  clip-path: polygon(100% 0, 100% 83%, 80% 100%, 0 100%, 0 0);
  font-weight: 300;
}

.text-block p {
  font-size: 18px;
  line-height: 1em;
}
.text-block ul {
  font-size: 1.4em;
}
.text-block li {
  padding: 5px 0 20px 0;
}
.text-block h4 {
  font-size: 2em;
  color: #21ba45;
  font-weight: 400;
}

#sli-img {
  width: 200px;
  padding: 20px;
}
.slider-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  width: 800px;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 10px;
}

/* ***************** ABOUT END ***************** */
/* ***************** WORK *****************  Kathrine */
.work-wrap {
  width: 100%;
  height: 100%;
}
.work-banner {
  background-image: url('./media/Roof_plate.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.work-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 400px;
  position: absolute;
}
.work-banner-header {
  font-size: 4em;
  margin-top: 70px;
  color: white;
  z-index: 2;
  border-bottom: #94949480 1px solid;
}
.gallery-heading {
  width: 100%;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}
.work-section {
  display: flex;
  padding: 0 0;
}
.work-image {
  transition: all 0.5s ease-in-out;
  height: 300px;
  width: 30vw;
  margin: 2em;
  clip-path: polygon(100% 0, 100% 83%, 80% 100%, 0 100%, 0 0);
}
.work-image:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.work-content {
  padding: 40px 40px;
  font-size: 1.6em;
  text-align: left;
}

.work-heading {
  font-size: 25px;
}
.work-content2 {
  background-color: #fafafa;
  padding: 40px 40px;
  font-size: 1.6em;
  text-align: right;
}
.work-image2 {
  transition: all 0.5s ease-in-out;
  height: 300px;
  width: 500px;
  object-fit: cover;
  object-position: center;
  min-width: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%, 0 84%);
  margin: 2.5em;
}
.work-image2:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.work-button {
  font-size: 1.25em;
  padding: 10px 14px;
  font-size: 1.3em;
  border: none;
  border-radius: 50px;
}
.work-button:hover {
  background-color: #21ba45ab;
}
.work-image3 {
  width: 100%;
  height: 500px;
  padding: 20px;
}
/* ***************** WORK END *****************  Kathrine */

/* ***************** MEDIA QUERIES ***************** */

@media screen and (max-width: 1100px) {
  .info-text {
    font-size: 0.8em;
  }
  .text-block {
    width: 60%;
  }
  .circle.two{
    display: none;
  }
  .top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 960px) {
  .top-nav .mobile-menu-btn {
    display: flex;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .top-nav .menu-top {
    display: none;
  }

  .info-section {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .info-right {
    font-size: 1rem;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .info-content {
    padding: 0 0 30px 0;
    text-align: center;
    margin: 10px;
    width: 80%;
  }

  .info-heading {
    font-size: 1.8rem;
    font-weight: 300;
  }

  .section-heading {
    width: 60%;
  }

  .info-image-left {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    margin: 20px 0 20px 0;
    max-height: 300px;
    width: 80vw;
  }
  .info-image-right {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    margin: 40px 0 20px 0;
    max-height: 300px;
    width: 80vw;
  }

  #form-wrap {
    margin-top: 15%;
  }

  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 80%;
  }

  .card-content1 {
    font-size: 1.6em;
    text-align: center;
  }

  .banner-btn {
    float: right;
  }

  .banner-btn:hover {
    float: right;
  }

  .footer-content {
    padding: 40px 50px;
  }

  .info-text {
    font-size: 0.8em;
  }

  .reverse {
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 850px) {
  .contact-container {
    padding: 5em;
  }
  .contact-overlay {
    padding: 5em;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .mobile-only {
    display: flex !important;
  }

  .desktop-only {
    display: none !important;
  }
  /* #quote-wrap {
    display: none !important;
  }
  #quote-wrap-mobile {
    display: flex !important;
  } */

  /* .contact-container{
    display: none !important;
  }
  .contact-container-mobile{
    padding-top: 10%;
    display: flex !important;
  } */
  .test-header {
    font-size: 2.8em;
  }
  .rew {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: flex !important;
  }
}

@media screen and (max-width: 760px) {

  .quote-heading {
    font-size: 2em;
  }
  .test-quote {
    font-size: 1.5em;
  }
  
  .services-item {
    text-align: center;
  }
 

  #form-wrap {
    margin-top: 20%;
  }

  .card1 {
    color: #fff;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .card-heading1 {
    border-bottom: #94949480 1px solid;
    width: fit-content;
    font-size: 3em;
    text-align: center;
  }

  .card-content1 {
    font-size: 1.6em;
  }

  .banner-btn {
    float: right;
  }

  .banner-btn:hover {
    float: right;
    background-color: #018856;
  }

  .slide p {
    font-size: 1.5em;
    margin: 5px;
  }
  #map-add {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 608px) {

  .text-block {
    width: 90% !important;
    height: 90%;
    margin: 1em;
    clip-path: polygon(100% 0, 100% 84%, 91% 100%, 0 100%, 0 0);
    /* min-height: 800px !important; */
  }
  .work-history{
    height: 720px;
  }
  .ser-home-p {
    display: flex;
    align-items: center;

    width: 90% !important;
    /* margin: 20px  30px; */
    font-size: 1.1em;
    text-align: center;
  }

  p:last-child {
    /* margin-bottom: 15px !important; */
  }

  .info div {
    padding: 0 !important;
  }

  .contact-container {
    padding: 3em;
  }

  .contact-container-overlay {
    padding: 3em;
  }

  .quote-heading {
    font-size: 1.4em;
  }

  .long {
    font-size: 1.8em;
    width: 90%;
  }
  .slide h2 {
    font-size: 1.5em;
    margin: 5px;
  }
  .slide p {
    font-size: 1.2em;
    margin: 5px;
  }

  .testimonial-btn {
    font-size: 1.8em;
    border: 1px solid #21ba45;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .testimonial-btn:active {
    background-color: #21ba4564;
    color: #fff;
    border-radius: 50px;
    font-size: 1.6rem;
    border: 1px solid #21ba45;
    padding: 10px 30px;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.6);
  }

  #form-wrap {
    margin-top: 30%;
  }

  .services-content-2 {
    display: none;
  }

  .card1 {
    width: 90%;
    text-align: center;
    margin: 20% 2%;
  }

  .card-heading1 {
    border-bottom: #94949480 1px solid;
    width: fit-content;
    font-size: 2.5em;
  }

  .card-content1 {
    font-size: 1.4em;
  }

  #recycle-banner h3 {
    font-size: 6vw;
    color: #fff;
    width: 100%;
    text-align: center !important;
    margin: 0;
  }
  #rechead {
    display: flex;
    justify-content: center;
  }
  #recycle-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
  .footer-wrap {
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .footer-content {
    padding: 40px 20px;
    align-items: center !important;
  }
  .contact-footer {
    align-items: left !important;
  }

  .footer-content a {
    color: #fff;
    font-size: 1.2rem;
    /* padding: 5px; */
  }

  .footer-content a:hover {
    color: #21ba45;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .contact-head {
    margin-top: 3.2em;
  }
  .text-block {
    width: 95% !important;
    height: 80%;
    margin: 1em;
    clip-path: polygon(100% 0, 100% 84%, 91% 100%, 0 100%, 0 0);
    min-height: 750px !important;
  }
  .work-history{
    min-height: 880px;
  }
 
.circle.one {
  width: 180px;
  height: 180px;
  top: 580px ;
  right: -75px;
  
}

.circle.five {
  width: 210px;
  height: 210px;
  top: 559px;
  right: -95px;
  border: 1em solid #1f2f44;
}

  .popup .foot-pop {
    width: 100px;
    /* margin-left: -150px; */
  }
  .popup .popuptext::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    /* transform: rotate(-90deg); */
    margin-right: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: #21ba45 transparent transparent transparent;
  }
  .modal-box p {
    font-size: 0.7em;
    padding: 0 !important;
  }
  .modal-box {
    margin: 0 2%;
    padding: 20px 20px !important;
    /* margin: 0 !important; */
    width: 95% !important;
  }
  .contact-container {
    padding: 0.5rem;
  }

  .contact-container-overlay {
    padding: 0.4rem;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .contact-text,
  .information-contact,
  .contact-icons-wrap p {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .contact-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .google-map {
    width: 100%;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .form-btn {
    padding: 0.45rem 1.2rem;
  }

  #footer-wrap {
    display: flex;
    justify-content: center;

  }
.contact-footer{

  align-items: flex-start !important;
}
  .mobile-hide {
    display: none;
  }

  .footer-content {
    padding: 40px 20px;
    font-weight: 400;
    align-items: flex-start;
  }

  .icon-align-left a {
    text-align: left !important;
  }
}

@media screen and (max-width: 400px) {

  .quote-btn {
    padding: 10px 30px;
  }

  .testimonial-btn {
    font-size: 1.4rem;
    border: 1px solid #21ba45;
    padding: 10px 3035x;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  .testimonial-btn:active {
    background-color: #21ba4564;
    color: #fff;
    border-radius: 50px;
    font-size: 1.2rem;
    border: 1px solid #21ba45;
    padding: 10px 30px;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.6);
  }

  .info-section {
    padding: 10px 0 20px 0;
  }

  .info-img {
    margin-top: 10px;
  }

  .services-content-1,
  .services-content-2 {
    flex-wrap: wrap;
  }
}

/* ************ SERVICES ************** */

/* #serv-list{

    list-style-type: circle;

} */
#serv-list li::before {
  content: '\2022';
  color: #21ba45;
  padding-right: 10px;
}

/* main container*/ 
#services-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem !important;
}

/*ser-   header's divs*/
.ser-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 400px;
  position: absolute;
}
.ser-banner {
  background-image: url('media/box-hedge.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.ser-header {
  font-size: 4em;
  height: 50%;
  color: white;
  z-index: 2;
}
/*container for circles*/
.container {
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  position: relative;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

/*divs for images*/
.service-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 3px #1f2f44;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

/*services titles*/
.service-name {
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  text-decoration: none;
  z-index: 10;
}
.sol {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.container h2 {
  margin: 0 !important;
}
.text h2 {
  font-size: 1.7em;
  margin-bottom: 0px;
}
/*div with short service info*/
.text {
  display: none;
  opacity: 0;
  top: 0;
  width: 320px;
  height: 320px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10%;
  position: absolute;
  color: white;
  font-weight: 300;
  font-size: 0.3em;
  line-height: 1.5em;
  flex-direction: column;
  padding: 0 5px;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  animation: fadeIn 1s;
  z-index: 10;
}
.service-main-btn {
  font-size: 1.1em;
}

/*changes when hover over*/

.container:hover .service-img {
  width: 320px;
  height: 320px;
  border-radius: 10%;
  border: 0;
  transition: all 0.3s ease-in-out;
}
.container:hover .sol {
  background-color: rgba(0, 0, 0, 0.8);
  width: 320px;
  height: 320px;
  border-radius: 10%;
  border: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.service-main-btn {
  padding: 10px 0 2px 0;
}
.container:hover {
  transition: all 0.3s ease-in-out !important;
}
.container:hover .text {
  display: flex;
  opacity: 1;
  font-size: 1.3em;
}
/* .container:hover .sol {
 background-color: rgba(0, 0, 0, .7);
 width: 320px;
 height: 320px;
 
 border-radius: 10%;
 border: 0;
 transition: all 0.3s ease-in-out;
} */
.container:hover .service-name {
  /*color: #21ba45;
  top: 10px;
  font-size: 1.6em;*/
  display: none;
}
.container:hover .service-name-btn {
  color: white;
  display: block;
  padding: 10px 15px;
  text-align: center;
}

/*.service-name:hover a{
  text-decoration: underline 2px;
}*/


/*section with full information*/

.info-ser {
  display: block;
  font-weight: 300;
  margin: 40px 100px;
  font-size: 1.6em;
  line-height: 1.5em;
  padding-bottom: 20px;
}
.info-ser div {
  padding-top: 30px;
}
.info-ser span {
  color: #21ba45;
}
.accordion-button {
  font-size: 18px;
}
.accordion-button:hover,
.accordion-button:focus {
  border: solid #1f2f44;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/*responsiveness*/

@media screen and (max-width: 515px) {
  .text-block {
    width: 80%;
    height: 90%;
    margin: 1em;
    clip-path: polygon(100% 0, 100% 84%, 91% 100%, 0 100%, 0 0);
    min-height: 800px !important;
  }
  .work-history{
    min-height: 820px;
  }
  .info-ser {
    margin-left: 30px;
    margin-right: 30px;
  }

  #other,
  #contact-ser {
    padding-left: 5px;
    padding-right: 5px;
  }
  #contact-ser {
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
  }
  #f-ser {
    left: 5%;
  }
}

/* ***************** Testimonials **************** */

/*main container*/
#test {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url('media/swift-banner-1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
}

.test-btn-contact {
  margin: 20px 0 40px 0;
  font-size: 0.8em;
}

.test-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 400px;
  position: absolute;
}

.test-banner {
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 margin-top: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

.test-header {
  font-size: 4em;
  height: 50%;
  color: white;
  z-index: 2;
  text-align: center;
}

/*testimonials divs*/
.rew {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  color: #fff;
  z-index: 2;
  font-weight: 200;
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: center;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
  padding: 20px;
}

.name {
  padding-top: 20px;
  margin-bottom: 0;
  font-style: italic;
}

.checked {
  color: #21ba45;
  font-size: 0.9em !important;
}
.la.checked {
  font-size: 0.8em !important;
}

/************* Scroll button **********/

.scroll-btn-container {
  position: relative;
}

.scroll-btn {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  color: #21ba45;
  background-color: #1f2f44;
  font-size: 1.6em;
  border: none;
  text-align: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 14 !important;
  transition: all 0.2s ease-in-out;
}
.scroll-btn:active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 1.4em;
}





